<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/journal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
  <div class="netclassa" style="background-color: #212529; width: 100%; padding: 15px">
        <a class="netclassa" href="/dashboard" style="color: white; font-size: 22px; margin-left: 15.5%; font-family: Arial; text-decoration: none">Interactive Map</a>
    </div>
    <div class="wrapper">
      <div class="left">
        <div class="left-content">
          <div>
            <div class="shadow">
              <div class="img">
                <img src="/static/img.png" alt="image">
              </div>
            </div>
            <h2>International Journal of Social Robotics</h2>
          </div>
          <a class="springer" href="https://www.springer.com/journal/12369">
            <img src="/static/img_1.png" alt="Image Description">
          </a>
        </div>
      </div>

      <div class="right">
        <h2>Journal of Springer</h2>
        <br>
        <div class="para">
          <p>Social Robotics is the study of robots that are able to interact and communicate among themselves,
            with humans, and with the environment, within the social and cultural structure attached to its role.
            The journal covers a broad spectrum of topics related to the latest technologies, new research results
            and developments in the area of social robotics on all levels, from developments in core enabling
            technologies to system integration, aesthetic design, applications and social implications. It provides a
            platform for like-minded researchers to present their findings and latest developments in social robotics,
            covering relevant advances in engineering, computing, arts and social sciences.</p>
        </div>

      </div>
    </div>
  </body>
</html>